
h1 {
    color: rgb(74, 32, 12);
    font-size: 100px;
    font-kerning: none;
    text-align:center;
    padding-top: 20px;
    text-shadow: 2px 2px white;
}

html {
    background: white;
}

header {
    background-color:rgb(177, 85, 24);
    height: 300px;
}

footer {
    background-color:rgb(177, 85, 24);
    position: relative;
  bottom: 0;
  width: 100%;
  height: 200px;   
}

h2 {
    color:rgb(177, 85, 24);
    font-size: 60px;
    text-align:center;
    margin-top: 30px;
    text-shadow: 2px 2px rgb(44, 20, 4);
}

ul {
    color:rgb(49, 77, 43);
    font-size: 20px;
}

h3 {
    color:olivedrab;
    font-size: 35px;
    text-align: center;
    line-height: 35px;
}

p {
    font-size: 60px;
    text-align: justify;
    color:olivedrab;
    line-height: 80px;
}

body {
    text-align: center;
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

nav a {
    color: white;
    font-size: 30px;
}

.gallery {
    align-items: center;
    text-align: center;
}


#image {
    width: 2700px;
    height: 1450px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    border: 10px solid rgb(177, 85, 24);
    padding: 10px 20px 10px 20px;
    align-content: center;
}

.blog {
    margin-left: 200px;
    margin-right: 200px;
}

.lists {
    font-size: 60px;
    color:olivedrab;
    line-height: 80px;
    text-align: left;
}

.contact {
    margin: 60px 10px 100px 10px;
}

#contact-footer {
    background-color:rgb(177, 85, 24);
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 200px;  
 }

 #me {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px 10px 20px;
    border: 10px solid rgb(177, 85, 24);
    padding: 10px 10px 10px 10px;
    align-content: center;
 }

 .about-me {
    font-size: 30px;
    text-align: center;
    color:olivedrab;
    line-height: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
 }